@use "../styles/variables" as *;

// ===========================================
// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margins
* {
  margin: 0;
  padding: 0;
}

// Allow percentage-based heights
html,
body {
  height: 100%;
}

// ===========================================

// Base styles
html {
  font-size: 16px;
}

body {
  font-family: $font-family-sans;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  color: $color-gray-900;
  background-color: $color-gray-50;
}
