@use "../styles/variables" as *;
@use "../styles/typography" as type;

// ===========================================
// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margins
* {
  margin: 0;
  padding: 0;
}

// Allow percentage-based heights
html,
body {
  height: 100%;
}

// ===========================================

// Base styles
html {
  font-size: 16px;
}

body {
  font-family: type.$font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-normal;
  color: $color-tertiary-900;
  background-color: $color-tertiary-50;
}
